
@{
    ViewBag.Title = "Completed";
}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Siparişiniz Tamamlanmıştır!</h2>
                <h4>Ürünleriniz en kısa sürede kargoya verilecektir.</h4>
            </div>
        </div>
    </div>


