
@using ECommerce.MvcWebUI.Models;
@model Cart

<style>
    #cart-count
    {
        color: whitesmoke;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">

    <li id="cart-count" class="nav-item">
        <a class="nav-link" href="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.CartLines.Count)
        </a>
        
    </li>

</ul>
